<!DOCTYPE html>
<html>
<head>
  <title>URLShort</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>URL Shortener</h1>
<%= yield %>

<h3>Top 100 URLs</h6>
<div class="table">
  <table>
    <tr>
      <th>
        Rank
      </th>
      <th>
        Short Url
      </th>
      <th>
        Visits
      </th>
    </tr>
    <% Url.top_100.each_with_index do |url, idx| %>
      <tr>
        <td>
        <%= idx + 1 %>
        </td>
        <td>
          <a href="shortshorts.herokuapp.com/<%= url.short %>">localhost:3000/<%= url.short %></a>
        </td>
        <td>
          <%= url.visits %>
        </td>
      </tr>
    <% end %>
  </table>

</div>

</body>
</html>
